<div class="main-content">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="red">
                    <h4 class="title">Calendar</h4>
                    <p class="category">Try Drag-and-Drop Events</p>
                </div>
                <div class="card-content">
                    <div id="typography">
                        <!-- <div class="title">
                            <h2>Typography</h2>
                        </div> -->
                        <div class="row">
                          <div style="padding: 20px">
                            <angular2-fullcalendar [options]="calendarOptions"></angular2-fullcalendar>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
