
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Admin Dashboard Demo</h4>
                        <p class="category">Handcrafted by <a target="_blank" href="http://emergedigital.co.za">Emerge Digital</a></p>
                    </div>
                    <div class="card-content">
                        <div class="iframe-container hidden-sm hidden-xs">
                            <iframe src="http://emergedigital.co.za">
                                <p>Your browser does not support iframes.</p>
                            </iframe>
                        </div>
                        <div class="col-md-6 hidden-lg hidden-md text-center">
                            <h5>This is only visible on Desktop mode inside an iframe. Since the iframe is not working on Mobile and Tablets please visit our page here: <a href="http://emergedigital.co.za" target="_blank">Emerge Digital</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
