<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Bookings</h4>
                        <p class="category">All currently active bookings</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-success">
                                <tr>
                                    <th>Name</th>
                                    <th>Reservation Length</th>
                                    <th>Time</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Dakota Rice</td>
                                    <td>18 Holes</td>
                                    <td>08:00</td>
                                    <td>Tomorrow</td>
                                    <td class="text-warning">pending</td>
                                </tr>
                                <tr>
                                    <td>Minerva Hooper</td>
                                    <td>9 Holes</td>
                                    <td>17:20</td>
                                    <td>Today</td>
                                    <td class="text-warning">pending</td>
                                </tr>
                                <tr>
                                    <td>Sage Rodriguez</td>
                                    <td>18 Holes</td>
                                    <td>17:00</td>
                                    <td>Today</td>
                                    <td class="text-warning">pending</td>
                                </tr>
                                <tr>
                                    <td>Philip Chaney</td>
                                    <td>9 Holes</td>
                                    <td>12:50</td>
                                    <td>Today</td>
                                    <td class="text-success">approved</td>
                                </tr>
                                <tr>
                                    <td>Doris Greene</td>
                                    <td>18 Holes</td>
                                    <td>11:35</td>
                                    <td>Today</td>
                                    <td class="text-success">approved</td>
                                </tr>
                                <tr>
                                    <td>Mason Porter</td>
                                    <td>9 Holes</td>
                                    <td>14:00</td>
                                    <td>Yesterday</td>
                                    <td class="text-success">approved</td>
                                </tr>
                                <tr>
                                    <td>Chris Topher</td>
                                    <td>18 Holes</td>
                                    <td>09:00</td>
                                    <td>Yesterday</td>
                                    <td class="text-success">approved</td>
                                </tr>
                                <tr>
                                    <td>Jones Narwhal</td>
                                    <td>9 Holes</td>
                                    <td>06:00</td>
                                    <td>Yesterday</td>
                                    <td class="text-success">approved</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="col-md-12">
              <div class="card">
                  <div class="card-header" data-background-color="orange">
                      <h4 class="title">Past Bookings</h4>
                      <p class="category">All currently active bookings</p>
                  </div>
                  <div class="card-content table-responsive">
                      <table class="table">
                          <thead class="text-warning">
                              <tr>
                                  <th>Name</th>
                                  <th>Reservation Length</th>
                                  <th>Time</th>
                                  <th>Date</th>
                                  <th>Status</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Dakota Rice</td>
                                  <td>18 Holes</td>
                                  <td>08:00</td>
                                  <td>01 September 2017</td>
                                  <td class="text-success">approved</td>
                              </tr>
                              <tr>
                                  <td>Minerva Hooper</td>
                                  <td>9 Holes</td>
                                  <td>17:20</td>
                                  <td>29 August 2017</td>
                                  <td class="text-success">approved</td>
                              </tr>
                              <tr>
                                  <td>Sage Rodriguez</td>
                                  <td>18 Holes</td>
                                  <td>17:00</td>
                                  <td>22 August 2017</td>
                                  <td class="text-success">approved</td>
                              </tr>
                              <tr>
                                  <td>Philip Chaney</td>
                                  <td>9 Holes</td>
                                  <td>12:50</td>
                                  <td>16 August 2017</td>
                                  <td class="text-danger">declined</td>
                              </tr>
                              <tr>
                                  <td>Doris Greene</td>
                                  <td>18 Holes</td>
                                  <td>11:35</td>
                                  <td>14 August 2017</td>
                                  <td class="text-success">approved</td>
                              </tr>
                              <tr>
                                  <td>Mason Porter</td>
                                  <td>9 Holes</td>
                                  <td>14:00</td>
                                  <td>07 August 2017</td>
                                  <td class="text-success">approved</td>
                              </tr>
                              <tr>
                                  <td>Chris Topher</td>
                                  <td>18 Holes</td>
                                  <td>09:00</td>
                                  <td>04 August 2017</td>
                                  <td class="text-success">approved</td>
                              </tr>
                              <tr>
                                  <td>Jones Narwhal</td>
                                  <td>9 Holes</td>
                                  <td>06:00</td>
                                  <td>01 August 2017</td>
                                  <td class="text-success">approved</td>
                              </tr>
                          </tbody>
                      </table>

                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
